html,body{
    height: 100%;
}

body{
    background:url(Fondo.jpg)no-repeat;
}

h1{
    background: rgba(255,255,255,0.6);
    font-family: "Bitcount Grid Double", system-ui;
    text-align: center;
}